@page "/Secrets"
@inherits Desktop.Components.Bases.Fusion.LiveListNamespaced<V1SecretList, V1Secret>

<h1>
    Secrets
</h1>

<DisplayEntities Entities="State.LastValue">
    <Header>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Creation date & uptime
                </th>
                <th>
                    Actions
                </th>
            </tr>
    </Header>
    <Body>
            @if (State.LastValue == null)
            {
                <Loading/>
            }
            else
            {
                @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
                {
                    <tr>
                        <td>
                            <NamespaceReference>
                                @entity.Metadata.Namespace()
                            </NamespaceReference>
                            <br/>
                            <SecretReference entity="@entity">
                                @entity.Metadata.Name
                            </SecretReference>
                        </td>
                        <td>
                            @if (entity.Metadata.CreationTimestamp.HasValue)
                            {
                                var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();
                                <CreationDateDisplay BaseUtcDateTime="@creationTimestamp"/>
                                <Uptime BaseUtcDateTime="@creationTimestamp"/>

                            }
                        </td>
                        <td>
                            <TerminateEntity Entity="@entity"/>
                        </td>
                    </tr>
                }
            }
    </Body>
</DisplayEntities>