@page "/ClusterIssuers"
@inherits Desktop.Components.Bases.Fusion.LiveList<ClusterIssuerList, ClusterIssuer>

<h1>
    ClusterIssuers
</h1>

<DisplayEntities Entities="State.LastValue">
    <Header>
        <tr>
            <th>
                Name
            </th>
            <th>
                Names
            </th>
            <th>
                Creation date & uptime
            </th>
            <th>
                Actions
            </th>
        </tr>
    </Header>
    <Body>
    @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
    {
        <tr>
            <td>
                <NamespaceReference>
                    @entity.Metadata.Namespace()
                </NamespaceReference>
                <br/>
                <ClusterIssuerReference Entity="entity">
                    @entity.Metadata.Name
                </ClusterIssuerReference>
            </td>
            <td>
                @* @JsonConvert.SerializeObject(entity.Spec.Names) *@
            </td>
            <td>
                @if (entity.Metadata.CreationTimestamp.HasValue)
                {
                    var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();
                    <CreationDateDisplay BaseUtcDateTime="@creationTimestamp"/>
                    <Uptime BaseUtcDateTime="@creationTimestamp"/>
                }
            </td>
            <td>
                <TerminateEntity Entity="@entity"/>
            </td>
        </tr>
    }
    </Body>
</DisplayEntities>