@page "/Challenges"
@inherits LiveListNamespaced<Desktop.CustomResourceDefinitions.ChallengeList, Desktop.CustomResourceDefinitions.Challenge>

<h1>
    Challenges
</h1>

<DisplayEntities Entities="State.LastValue">
    <Header>
        <tr>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Creation date & uptime
            </th>
            <th>
                Actions
            </th>
        </tr>
    </Header>
    <Body>
    @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
    {
        <tr>
            <td>
                <NamespaceReference>
                    @entity.Metadata.Namespace()
                </NamespaceReference>
                <br/>
                <ChallengeReference Entity="entity">
                    @entity.Metadata.Name
                </ChallengeReference>
            </td>
            <td>
                @entity.Status.State
            </td>
            <td>
                @if (entity.Metadata.CreationTimestamp.HasValue)
                {
                    var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();
                    <CreationDateDisplay BaseUtcDateTime="@creationTimestamp"/>
                    <Uptime BaseUtcDateTime="@creationTimestamp"/>
                }
            </td>
            <td>
                <TerminateEntity Entity="@entity"/>
            </td>
        </tr>
    }
    </Body>
</DisplayEntities>