@page "/Challenges"
@using k8s
@using k8s.Models
@using Newtonsoft.Json
@inherits Desktop.Components.Bases.NamespacedListAutoRefresh<Desktop.Services.StateContainers.CertManager.ChallengeStateContainer, CertManagerDefinitions.Challenge, CertManagerDefinitions.ChallengeList>

<h1>
    Challenges
</h1>

<EntityListDisplay Entities="Entities">
    <Header>
        <tr>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Creation date & uptime
            </th>
            <th>
                Actions
            </th>
        </tr>
    </Header>
    <Body>
    @if (Entities == null)
    {
        <Loading/>
    }
    else
    {
        @foreach (var (_, entity) in FilteredEntities.OrderBy(s => s.Value.Metadata.Name))
        {
            <tr>
                <td>
                    <NamespaceReference>
                        @entity.Metadata.Namespace()
                    </NamespaceReference>
                    <br/>
                    <ChallengeReference Entity="entity">
                        @entity.Metadata.Name
                    </ChallengeReference>
                </td>
                <td>
                    @entity.Status.State
                </td>
                <td>
                    @if (entity.Metadata.CreationTimestamp.HasValue)
                    {
                        var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();
                        <CreationDateDisplay BaseUtcDateTime="@creationTimestamp"/>
                        <Uptime BaseUtcDateTime="@creationTimestamp"/>
                    }
                </td>
                <td>
                    <TerminateEntity Entity="@entity"/>
                </td>
            </tr>
        }
    }
    </Body>
</EntityListDisplay>


@code
{

}