@page "/{RequestedEntityNamespace}/Ingress/{RequestedEntityName}"
@inherits LiveDetails<Extensionsv1beta1IngressList, Extensionsv1beta1Ingress>


<KubernetesResourceDetails Entity="@State.LastValue">
    <Specifications>
        <BSRow class="my-2">
            <BSCol>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">
                            Misc
                        </BSCard>
                        <BSCard CardType="CardType.Text">
                            <BSRow>
                                <BSCol>
                                    @if (State.LastValue.Spec.IngressClassName != null)
                                    {
                                        <text>Ingress class <code>@State.LastValue.Spec.IngressClassName</code></text>
                                    }
                                </BSCol>
                            </BSRow>
                        </BSCard>
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
        @if (State.LastValue?.Spec?.Tls != null)
        {
            <BSRow class="my-2">
                <BSCol>
                    <BSCard CardType="CardType.Card">
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Title">
                                TLS
                            </BSCard>
                            <BSCard CardType="CardType.Text">
                                <BSRow>
                                    <BSCol>
                                        <ul>
                                            @foreach (var rule in State.LastValue?.Spec?.Tls ?? new List<Extensionsv1beta1IngressTLS>())
                                            {
                                                <li>
                                                    TLS secret <SecretReference>@rule.SecretName</SecretReference> protects
                                                    @if (rule.Hosts.Count == 1)
                                                    {
                                                        <a href="//@rule.Hosts.First()" target="_blank">@rule.Hosts.First()</a>
                                                    }
                                                    else
                                                    {
                                                        <ul>
                                                            @foreach (var host in rule.Hosts)
                                                            {
                                                                <li>
                                                                    <a href="//@host" target="_blank">@host</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </BSCol>
                                </BSRow>
                            </BSCard>
                        </BSCard>
                    </BSCard>
                </BSCol>
            </BSRow>
        }
        @if (State.LastValue?.Spec?.Rules != null)
        {
            <BSRow class="my-2">
                <BSCol>
                    <BSCard CardType="CardType.Card">
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Title">
                                Rules
                            </BSCard>
                            <BSCard CardType="CardType.Text">
                                <BSRow>
                                    <BSCol>
                                        <ul>
                                            @foreach (var rule in State.LastValue?.Spec?.Rules ?? new List<Extensionsv1beta1IngressRule>())
                                            {
                                                <li>

                                                    <a href="//@rule?.Host" target="_blank">
                                                        @rule?.Host
                                                    </a>
                                                    <ul>
                                                        @foreach (var path in rule?.Http?.Paths ?? new List<Extensionsv1beta1HTTPIngressPath>())
                                                        {
                                                            V1Service serviceEntity = null;
                                                            try
                                                            {
                                                                // serviceEntity = KubernetesClient.ReadNamespacedService(path.Backend.ServiceName, RequestedEntityNamespace);
                                                            }
                                                            catch (Exception e)
                                                            {
                                                                Console.WriteLine(e);
                                                            }
                                                            <li>
                                                                @path.PathType @path.Path -->
                                                                <ServiceReference Entity="@serviceEntity">
                                                                    @path.Backend.ServiceName:@path.Backend.ServicePort
                                                                </ServiceReference>

                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </BSCol>
                                </BSRow>
                            </BSCard>
                        </BSCard>
                    </BSCard>
                </BSCol>
            </BSRow>
        }
    </Specifications>
</KubernetesResourceDetails>


@code
{
    protected override void OnInitialized()
    {
        ParentPageName = "Ingresses";
        base.OnInitialized();
    }
}