@page "/Ingresses"
@inherits Desktop.Components.Bases.Fusion.LiveListNamespaced<Extensionsv1beta1IngressList, Extensionsv1beta1Ingress>

<h1>
    Ingresses
</h1>
<DisplayEntities Entities="State.LastValue">
    <Header>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Rules
                </th>
                <th>
                    TLS Secret
                </th>
                <th>
                    Creation date & uptime
                </th>
            </tr>
    </Header>
    <Body>
            @if (State.LastValue == null)
            {
                <Loading/>
            }
            else
            {
                @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
                {
                    <tr>
                        <td>
                            <NamespaceReference>
                                @entity.Metadata.Namespace()
                            </NamespaceReference>
                            <br/>
                            <IngressReference entity="@entity">
                                @entity.Metadata.Name
                            </IngressReference>
                        </td>
                        <td>
                           <IngressRules Entity="@entity"></IngressRules>
                        </td>
                        <td>
                            @foreach (var tls in entity.Spec?.Tls ?? new List<Extensionsv1beta1IngressTLS>())
                            {
                                <SecretReference>
                                    @tls.SecretName
                                </SecretReference>
                            }
                        </td>
                        <td>
                            @if (entity.Metadata.CreationTimestamp.HasValue)
                            {
                                var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();
                                <CreationDateDisplay BaseUtcDateTime="@creationTimestamp"/>
                                <Uptime BaseUtcDateTime="@creationTimestamp"/>
                                
                            }
                        </td>
                        <td>
                            <TerminateEntity Entity="@entity"/>
                        </td>
                    </tr>
                }
            }
    </Body>
</DisplayEntities>

@code
{
    
}