@page "/Services"
@inherits LiveListNamespaced<V1ServiceList, V1Service>

<h1>
    Services
</h1>
<KubernetesResourcesList Entities="State.LastValue">
    <Header>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Port
                </th>
                <th>
                    Selector
                </th>
                <th>
                    Creation date & uptime
                </th>
            </tr>
    </Header>
    <Body>
            @if (State.LastValue == null)
            {
                <Loading/>
            }
            else
            {
                @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
                {
                    <tr>
                        <td>
                            <EntityReference>
                                @entity.Metadata.Namespace()
                            </EntityReference>
                            <br/>
                            <EntityReference entity="@entity">
                                @entity.Metadata.Name
                            </EntityReference>
                        </td>
                        <td>
                            @entity.Spec.Type
                        </td>
                        <td>
                            @foreach (var port in entity.Spec.Ports)
                            {
                                <span>@port.Port:@port.TargetPort</span>
                                <br/>
                            }
                        </td>
                        <td>
                            @foreach (var (key, value) in entity.Spec.Selector ?? new Dictionary<string, string>())
                            {
                                <span><span>@key</span>:<span>@value</span></span>
                                <br/>
                            }
                        </td>
                        <td>
                            @if (entity.Metadata.CreationTimestamp.HasValue)
                            {
                                var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();
                                <CreationDateDisplay BaseUtcDateTime="@creationTimestamp"/>
                                <Uptime BaseUtcDateTime="@creationTimestamp"/>
                                
                            }
                        </td>
                        <td>
                            <TerminateEntity Entity="@entity"/>
                        </td>
                    </tr>
                }
            }
    </Body>
</KubernetesResourcesList>