@page "/{RequestedEntityNamespace}/Certificate/{RequestedEntityName}"
@using k8s
@using k8s.Models
@inherits Desktop.Components.Bases.Fusion.LiveDetails<CertificateList, Certificate>
@if (State.LastValue != null)
{
    <EntityDetailsView Entity="@State.LastValue">
        <Status>
            <BSRow class="my-2">
                <BSCol>
                    <BSCard CardType="CardType.Card">
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Title">
                                General
                            </BSCard>
                            <BSCard CardType="CardType.Text">
                                <BSRow>
                                    <BSCol>
                                        RenewalTime: <code>@State.LastValue.Status.RenewalTime</code> <br>
                                        NotBefore: <code>@State.LastValue.Status.NotBefore</code> <br>
                                        NotAfter: <code>@State.LastValue.Status.NotAfter</code> <br>
                                    </BSCol>
                                </BSRow>
                            </BSCard>
                        </BSCard>
                    </BSCard>
                </BSCol>
            </BSRow>
            <BSRow class="my-2">
                <BSCol>
                    <BSCard CardType="CardType.Card">
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Title">
                                Conditions
                            </BSCard>
                            <BSCard CardType="CardType.Text">
                                <BSRow>
                                    <BSCol>
                                        <ul>
                                            @foreach (var condition in State.LastValue.Status.Conditions ?? new List<CertificateCondition>())
                                            {
                                                <li>
                                                    Status: <code>@condition.Status</code> <br>
                                                    Type: <code>@condition.Type</code> <br>
                                                    Reason: <code>@condition.Reason</code> <br>
                                                    Message: <code>@condition.Message</code> <br>
                                                    LastTransitionTime: <code>@condition.LastTransitionTime</code>
                                                </li>
                                            }
                                        </ul>
                                    </BSCol>
                                </BSRow>
                            </BSCard>
                        </BSCard>
                    </BSCard>
                </BSCol>
            </BSRow>
        </Status>
        <Specifications>
            <BSRow class="my-2">
                <BSCol>
                    <BSCard CardType="CardType.Card">
                        <BSCard CardType="CardType.Body">
                            <BSCard CardType="CardType.Title">
                                DNS Names
                            </BSCard>
                            <BSCard CardType="CardType.Text">
                                <BSRow>
                                    <BSCol>
                                        Secret: <SecretReference>@State.LastValue.Spec.SecretName</SecretReference> <br>
                                        Issuer: <SecretReference>@State.LastValue.Spec.IssuerRef.Kind/@State.LastValue.Spec.IssuerRef.Name</SecretReference> <br>

                                        Dns names:
                                        <ul>
                                            @foreach (var dnsName in @State.LastValue.Spec.DnsNames ?? new List<string>())
                                            {
                                                <li>
                                                    <a href="@dnsName" target="_blank">@dnsName</a>
                                                </li>
                                            }
                                        </ul>
                                    </BSCol>
                                </BSRow>
                            </BSCard>
                        </BSCard>
                    </BSCard>
                </BSCol>
            </BSRow>
        </Specifications>
    </EntityDetailsView>
}

@code
{
    protected override void OnInitialized()
    {
        ParentPageName = "Certificates";
        base.OnInitialized();
    }
}