@page "/Pods"
@inherits LiveListNamespaced<V1PodList, V1Pod>

<h1>
    Pods
</h1>
<KubernetesResourcesList Entities="State.LastValue">
    <Header>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phase
            </th>
            <th>
                Creation date & uptime
            </th>
            <th>
                Actions
            </th>
        </tr>
    </Header>
    <Body>
        @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
        {
            <tr>
                <td>
                    <EntityReference>
                        @entity.Metadata.Namespace()
                    </EntityReference>
                    <br/>
                    <EntityReference entity="@entity">
                        @entity.Metadata.Name
                    </EntityReference>
                </td>
                <td>
                    <PodStatus Entity="entity" />
                </td>
                <td>
                    @if (entity.Metadata.CreationTimestamp.HasValue)
                    {
                        var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();                        
                        <Uptime BaseUtcDateTime="@creationTimestamp"/>
                    }
                </td>
                <td>
                    <TerminateEntity Entity="@entity"/>
                </td>
            </tr>
        }
    </Body>
</KubernetesResourcesList>