@page "/Pods"
@using Desktop.Services
@using System.Threading
@inherits LiveComponentBase<List<V1Pod>>
@inject KubernetesRepository<V1PodList, V1Pod> K8SRepository

<h1>
    Pods
</h1>
<DisplayEntities Entities="State.LastValue">
    <Header>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phase
            </th>
            <th>
                Creation date & uptime
            </th>
            <th>
                Actions
            </th>
        </tr>
    </Header>
    <Body>
        @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
        {
            <tr>
                <td>
                    <NamespaceReference>
                        @entity.Metadata.Namespace()
                    </NamespaceReference>
                    <br/>
                    <PodReference entity="@entity">
                        @entity.Metadata.Name
                    </PodReference>
                </td>
                <td>
                    <PodStatus Entity="entity" />
                </td>
                <td>
                    @if (entity.Metadata.CreationTimestamp.HasValue)
                    {
                        var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();
                        <CreationDateDisplay BaseUtcDateTime="@creationTimestamp"/>
                        <Uptime BaseUtcDateTime="@creationTimestamp"/>
                    }
                </td>
                <td>
                    <TerminateEntity Entity="@entity"/>
                </td>
            </tr>
        }
    </Body>
</DisplayEntities>

@code {
    
    protected override async Task<List<V1Pod>> ComputeStateAsync(CancellationToken cancellationToken)
    {
        return await K8SRepository.GetAllNamespaced();
    }
}