@page "/StorageClass/{RequestedEntityName}"
@using k8s
@using k8s.Models
@inherits LiveDetails<V1StorageClassList, V1StorageClass>

<EntityDetailsView Entity="@State.LastValue">
    <Specifications>
        <BSRow class="my-2">
            <BSCol>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">
                            Misc
                        </BSCard>
                        <BSCard CardType="CardType.Text">
                            <BSRow>
                                <BSCol>
                                    <div>
                                        Parameters :
                                        @foreach (var (key, value) in State.LastValue.Parameters)
                                        {
                                            <div>@key: <code>@value</code></div>
                                        }
                                    </div>
                                    <div>
                                        Provisioner : <code>@State.LastValue.Provisioner</code>
                                    </div>
                                    <div>
                                        ReclaimPolicy : <code>@State.LastValue.ReclaimPolicy</code>
                                    </div>
                                    <div>
                                        VolumeBindingMode : <code>@State.LastValue.VolumeBindingMode</code>
                                    </div>
                                </BSCol>
                            </BSRow>
                        </BSCard>
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
    </Specifications>
</EntityDetailsView>

@code
{
    protected override void OnInitialized()
    {
        ParentPageName = "StorageClasses";
        base.OnInitialized();
    }
}