@page "/Issuers"
@inherits LiveListNamespaced<Desktop.CustomResourceDefinitions.IssuerList, Desktop.CustomResourceDefinitions.Issuer>

<h1>
    Issuers
</h1>

<KubernetesResourcesList Entities="State.LastValue">
    <Header>
        <tr>
            <th>
                Name
            </th>
            <th>
                Names
            </th>
            <th>
                Creation date & uptime
            </th>
            <th>
                Actions
            </th>
        </tr>
    </Header>
    <Body>
    @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
    {
        <tr>
            <td>
                <NamespaceReference>
                    @entity.Metadata.Namespace()
                </NamespaceReference>
                <br/>
                <IssuerReference Entity="entity">
                    @entity.Metadata.Name
                </IssuerReference>
            </td>
            <td>
                @* @JsonConvert.SerializeObject(entity.Spec.Names) *@
            </td>
            <td>
                @if (entity.Metadata.CreationTimestamp.HasValue)
                {
                    var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();                        
                        <Uptime BaseUtcDateTime="@creationTimestamp"/>
                }
            </td>
            <td>
                <TerminateEntity Entity="@entity"/>
            </td>
        </tr>
    }
    </Body>
</KubernetesResourcesList>