@page "/PersistentVolume/{RequestedEntityName}"
@inherits LiveDetails<V1PersistentVolumeList, V1PersistentVolume>

<KubernetesResourceDetails Entity="@State.LastValue">
    <Status>
        <div>
            @State.LastValue.Status.Phase via 
            @* <PersistentVolumeClaimReference Entity="pvc">@pvc.Metadata.Name</PersistentVolumeClaimReference> *@
        </div>
        <div>@State.LastValue.Status.Reason</div>
        <div>@State.LastValue.Status.Message</div>
    </Status>
    <Specifications>
        <BSRow class="my-2">
            <BSCol>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">
                            Misc
                        </BSCard>
                        <BSCard CardType="CardType.Text">
                            <BSRow>
                                <BSCol>
                                    <div>
                                        Access modes :
                                        @foreach (var accessMode in State.LastValue.Spec.AccessModes ?? new List<string>())
                                        {
                                            <div>@accessMode</div>
                                        }
                                    </div>
                                    <div>
                                        Capacity :
                                        @foreach (var capacity in State.LastValue.Spec.Capacity ?? new Dictionary<string, ResourceQuantity>())
                                        {
                                            <div>@capacity.Key: @capacity.Value</div>
                                        }
                                    </div>
                                    <div>
                                        Reclaim policy : <code>@State.LastValue.Spec.PersistentVolumeReclaimPolicy</code>
                                    </div>
                                    <div>
                                        StorageClassName : <code>@State.LastValue.Spec.StorageClassName</code>
                                    </div>
                                    <div>
                                        VolumeMode : <code>@State.LastValue.Spec.VolumeMode</code>
                                    </div>
                                    <div>
                                        @* ClaimReference : <PersistentVolumeClaimReference Entity="pvc">@pvc.Metadata.Name</PersistentVolumeClaimReference> *@
                                    </div>
                                </BSCol>
                            </BSRow>
                        </BSCard>
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
    </Specifications>
</KubernetesResourceDetails>

@code
{

    protected override void OnInitialized()
    {
        ParentPageName = "PersistentVolumes";
        base.OnInitialized();
    }
}