@page "/Node/{RequestedEntityName}"
@using k8s
@using k8s.Models
@inherits Desktop.Components.Bases.Fusion.LiveDetails<V1NodeList, V1Node>

<EntityDetailsView Entity="@State.LastValue">
<Status>
<BSRow class="my-2">
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Allocatable
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            @foreach (var (key, value) in State.LastValue.Status.Allocatable)
                            {
                                <div>
                                    @key: <code>@value</code>
                                </div>
                            }
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Capacity
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            @foreach (var (key, value) in State.LastValue.Status.Capacity)
                            {
                                <div>
                                    @key: <code>@value</code>
                                </div>
                            }
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
</BSRow>
<BSRow class="my-2">
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Addresses
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            @foreach (var address in State.LastValue.Status.Addresses)
                            {
                                <div>
                                    @address.Type: <code>@address.Address</code>
                                </div>
                            }
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Node info
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            Architecture: <code>@State.LastValue.Status.NodeInfo.Architecture</code><br>
                            BootID: <code>@State.LastValue.Status.NodeInfo.BootID</code><br>
                            ContainerRuntimeVersion: <code>@State.LastValue.Status.NodeInfo.ContainerRuntimeVersion</code><br>
                            KernelVersion: <code>@State.LastValue.Status.NodeInfo.KernelVersion</code><br>
                            KubeletVersion: <code>@State.LastValue.Status.NodeInfo.KubeletVersion</code><br>
                            KubeletVersion: <code>@State.LastValue.Status.NodeInfo.KubeletVersion</code><br>
                            MachineID: <code>@State.LastValue.Status.NodeInfo.MachineID</code><br>
                            OperatingSystem: <code>@State.LastValue.Status.NodeInfo.OperatingSystem</code><br>
                            OsImage: <code>@State.LastValue.Status.NodeInfo.OsImage</code><br>
                            SystemUUID: <code>@State.LastValue.Status.NodeInfo.SystemUUID</code><br>
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
</BSRow>
<BSRow class="my-2">
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Conditions
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            @foreach (var condition in State.LastValue.Status.Conditions)
                            {
                                <div>
                                    @condition.Type: <code>@condition.Status</code><br>
                                    @condition.Reason - @condition.Message <br>
                                    LastTransitionTime: <code>@condition.LastTransitionTime</code>
                                    LastHeartbeatTime: <code>@condition.LastHeartbeatTime</code>
                                </div>
                            }
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
</BSRow>
<BSRow class="my-2">
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Attached volumes
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            @foreach (var volume in State.LastValue.Status.VolumesAttached)
                            {
                                <div>
                                    DevicePath: <code>@volume.DevicePath</code><br>
                                    Name: <code>@volume.Name</code><br>
                                </div>
                            }
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    In-use volumes
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            <ul>
                                @foreach (var volumeName in State.LastValue.Status.VolumesInUse)
                                {
                                    <li>
                                        @volumeName
                                    </li>
                                }
                            </ul>
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
</BSRow>
<BSRow class="my-2">
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Images
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            @foreach (var image in State.LastValue.Status.Images)
                            {
                                <div>
                                    @if (image.SizeBytes != null)
                                    {
                                        <div>Size: <code>@image.SizeBytes</code>Bytes</div>
                                    }
                                    Names:
                                    <ul>
                                        @foreach (var name in image.Names)
                                        {
                                            <li>
                                                <code>@name</code>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
</BSRow>
</Status>
<Specifications>
    <BSRow class="my-2">
        <BSCol>
            <BSCard CardType="CardType.Card">
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">
                        General
                    </BSCard>
                    <BSCard CardType="CardType.Text">
                        <BSRow>
                            <BSCol>
                                Provider: <code>@State.LastValue.Spec.ProviderID</code><br>
                                PodCIDR: <code>@State.LastValue.Spec.PodCIDR</code><br>
                            </BSCol>
                        </BSRow>
                    </BSCard>
                </BSCard>
            </BSCard>
        </BSCol>
    </BSRow>
</Specifications>
</EntityDetailsView>

@code
{
    protected override void OnInitialized()
    {
        ParentPageName = "Nodes";
        base.OnInitialized();
    }
}