@page "/{RequestedEntityNamespace}/Deployment/{RequestedEntityName}"
@using Desktop.Services
@inherits LiveDetails<V1DeploymentList, V1Deployment>


<KubernetesResourceDetails Entity="@State.LastValue">
    <Status>

        <BSRow class="my-2">
            <BSCol>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">
                            Conditions
                        </BSCard>
                        <BSCard CardType="CardType.Text">
                            <BSRow>
                                <BSCol>
                                    <ul>
                                        @foreach (var condition in State.LastValue.Status.Conditions ?? new List<V1DeploymentCondition>())
                                        {
                                            <li>
                                                Status: <code>@condition.Status</code> <br>
                                                Type: <code>@condition.Type</code> <br>
                                                Reason: <code>@condition.Reason</code> <br>
                                                Message: <code>@condition.Message</code> <br>
                                                LastTransitionTime: <code>@condition.LastTransitionTime</code>
                                            </li>
                                        }
                                    </ul>
                                </BSCol>
                            </BSRow>
                        </BSCard>
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
        <BSRow class="my-2">
            <BSCol>
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">
                            @State.LastValue.Status.Replicas Replicas
                        </BSCard>
                        <BSCard CardType="CardType.Text">
                            <BSRow>
                                <BSCol>
                                    Available: <code>@State.LastValue.Status.AvailableReplicas</code>
                                    Ready: <code>@State.LastValue.Status.ReadyReplicas</code>
                                    Unavailable: <code>@State.LastValue.Status.UnavailableReplicas</code>
                                    
                                    <ShowPodsWithMatchingLabels Entity="@State.LastValue" Labels="@State.LastValue.Spec.Selector" />
                                </BSCol>
                            </BSRow>
                        </BSCard>
                    </BSCard>
                </BSCard>
            </BSCol>
        </BSRow>
    </Status>
    <Specifications>
        <DisplayLabelSelector Source="@State.LastValue.Spec.Selector"/>
    </Specifications>
</KubernetesResourceDetails>

@code
{
    protected override void OnInitialized()
    {
        ParentPageName = "Deployments";
        base.OnInitialized();
    }
}