@page "/Deployments"
@using Desktop.Services
@using System.Threading
@inherits LiveComponentBase<List<V1Deployment>>
@inject KubernetesRepository<V1DeploymentList, V1Deployment> K8SRepository

<h1>
    Deployments
</h1>

<DisplayEntities Entities="State.LastValue">
    <Header>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Creation date & uptime
                </th>
                <th>
                    Actions
                </th>
            </tr>
    </Header>
    <Body>
            @if (State.LastValue == null)
            {
                <Loading/>
            }
            else
            {
                @foreach (var entity in State.LastValue.OrderBy(s => s.Metadata.Name))
                {
                    <tr>
                        <td>
                            <NamespaceReference>
                                @entity.Metadata.Namespace()
                            </NamespaceReference>
                            <br/>
                            <DeploymentReference entity="@entity">
                                @entity.Metadata.Name
                            </DeploymentReference>
                        </td>
                        <td>
                            @if (entity.Metadata.CreationTimestamp.HasValue)
                            {
                                var creationTimestamp = entity.Metadata.CreationTimestamp.Value.ToUniversalTime();
                                <CreationDateDisplay BaseUtcDateTime="@creationTimestamp"/>
                                <Uptime BaseUtcDateTime="@creationTimestamp"/>
                            }
                        </td>
                        <td>
                            <TerminateEntity Entity="@entity"/>
                        </td>
                    </tr>
                }
            }
    </Body>
</DisplayEntities>


@code
{
    protected override async Task<List<V1Deployment>> ComputeStateAsync(CancellationToken cancellationToken)
    {
        return await K8SRepository.GetAllNamespaced();
    }
}