@code{
}

@using k8s.Models
<BSRow class="my-2">
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Misc
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>

                            Name: <code>@Source.Name</code> <br/>
                            Uid/Version: <code>@Source.Uid</code>/<code>@Source.ResourceVersion</code> <br/>

                            @if (Source.CreationTimestamp != null)
                            {
                                var creationTimestamp = Source.CreationTimestamp.Value.ToUniversalTime();
                                <span>
                                    Created: 
                                    <code>
                                        <Uptime BaseUtcDateTime="@creationTimestamp"/>
                                    </code>
                                </span>
                            }
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
    @if (Source.OwnerReferences != null && Source.OwnerReferences.Any())
    {
        <BSCol>
            <BSCard CardType="CardType.Card">
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">
                        Owners
                    </BSCard>
                    <BSCard CardType="CardType.Text">
                        <BSRow>
                            <BSCol>
                                <ul>
                                    @foreach (var ownerReference in Source.OwnerReferences ?? new List<V1OwnerReference>())
                                    {
                                        <li>
                                            @ownerReference.ApiVersion/@ownerReference.Kind/@ownerReference.Name <br>
                                            Controller: <code>@ownerReference.Controller</code><br>
                                            BlockOwnerDeletion: <code>@ownerReference.BlockOwnerDeletion</code><br>
                                        </li>
                                    }
                                </ul>
                            </BSCol>
                        </BSRow>
                    </BSCard>
                </BSCard>
            </BSCard>
        </BSCol>
    }
</BSRow>
@if (Source?.Labels != null)
{
<BSRow class="my-2">
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Labels
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            <DictionayToHmlList Source="@Source.Labels"/>
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
</BSRow>
}
@if (Source?.Annotations != null)
{
<BSRow class="my-2">
    <BSCol>
        <BSCard CardType="CardType.Card">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    Annotations
                </BSCard>
                <BSCard CardType="CardType.Text">
                    <BSRow>
                        <BSCol>
                            <DictionayToHmlList Source="@Source.Annotations"/>
                        </BSCol>
                    </BSRow>
                </BSCard>
            </BSCard>
        </BSCard>
    </BSCol>
</BSRow>
}

@code
{
    [Parameter]
    public V1ObjectMeta Source { get; set; }
}