@using k8s
@using k8s.Models
@using Microsoft.Extensions.Logging
@using Desktop.Services

@if (Entity == null)
{
    <span class="EntityReference no-url">@ChildContent</span>
}
else
{
    <EntityReferenceByName Kind="@Entity.Kind" Name="@Entity.Metadata.Name" Namespace="@Entity.Namespace()">@(ChildContent ?? null)</EntityReferenceByName>
}

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public IKubernetesObject<V1ObjectMeta>? Entity { get; set; }
}